<div class="row">
<div class="col-md-6">
    <h2>BIBLE STUDIES</h2>
        </div>
<div class="col-md-6">
<div class=" pull-center text-center"><strong for="" class="text-center">
    <b>filter: </b></strong>
    
        <div class="row">
        <div class="col-md-3">
        <select id="select" name="select" class="form-control form-control-sm" placeholder="check">
            <option value="0">year</option>
            <option value="1">2001</option>
            <option value="2">2002</option>
            <option value="3">2003</option>
          </select>
        </div>
        <div class="col-md-3">
            <select id="select" name="select" class="form-control form-control-sm">
                <option value="0"><a  [routerLink]="['view']">2010</a> </option>
                <option value="1">2001</option>
                <option value="2">2002</option>
                <option value="3">2003</option>
              </select>
            </div>
            <div class="col-md-3">
                <select id="select" name="select" class="form-control form-control-sm">
                    <option value="0">year</option>
                    <option value="1">2001</option>
                    <option value="2">2002</option>
                    <option value="3">2003</option>
                  </select>
                </div>
                <button class="btn btn-primary pull-right">Search</button>
                </div>
      </div>
    </div>
    
  </div>
  
   <!-- card -->
  <div class="row">
    <div class="col-sm-4 col-md-6">
      <div class="card card-accent-primary">
        <div class="card-header">
         BS.ID:1
        </div>

     
        <div class="card-body">
        
<div class="card card-accent-info">
    <div class="card-body">
        
        
        <label><b>title:</b></label>
        <p>the Title</p>
<label for=""><b>Aim:</b></label>

  <p>Aim verse</p>
  
<label><b>Verse:</b></label>
<p>{{role[0]1:1</p>
<label><b>Question:</b></label>
<p>{{user.c?</p>
 
      <label><b>term:</b></label>
      <p>the term</p>
<label for=""><b>Remark:</b></label>

<p>Aim verse</p>

<label><b>Further info:</b></label>
<p>{{role[0]1:1</p>
<label><b>Question:</b></label>
<p>{{user.c?</p>
    <hr>
  </div>
    
  
  
          </div>
      </div>
      </div>
      </div>
      <div class="col-sm-4 col-md-6">
      <div class="card card-accent-primary">
        <div class="card-header">
         BS.ID:1
        </div>

     
        <div class="card-body">
        
<div class="card card-accent-info">
    <div class="card-body">
        
        <label><b>title:</b></label>
        <p>the Title</p>
<label for=""><b>Aim:</b></label>

  <p>Aim verse</p>
  
<label><b>Verse:</b></label>
<p>{{role[0]1:1</p>
<label><b>Question:</b></label>
<p>{{user.c?</p>

      <label><b>term:</b></label>
      <p>the term</p>
<label for=""><b>Remark:</b></label>

<p>Aim verse</p>

<label><b>Further info:</b></label>
<p>{{role[0]1:1</p>
<label><b>Question:</b></label>
<p>{{user.c?</p>
    <hr>

</div>
  
          </div>
      </div>
      </div>
      </div>
    </div><!--/.col-->