<div class="sidebar">
  <app-sidebar-header></app-sidebar-header>
  <app-sidebar-form></app-sidebar-form>
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-title">
        Dashboard
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span></a>
      </li>
      <li class="nav-title">
          bible study
        </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/bs']"><i class="icon-pencil"></i>All Bible studies</a>
        
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/category']"><i class="icon-pencil"></i>Category</a>
        
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/year']"><i class="icon-pencil"></i>Year</a>
          
        </li>
      <li class="nav-title">
          OTHERS
        </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/sms-logs']"><i class="icon-pencil"></i>sms logs</a>
        
      </li>
       <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/user']"><i class="icon-pencil"></i>user</a>
        
      </li>
    </ul>
  </nav>
  <app-sidebar-footer></app-sidebar-footer>
</div>
